<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
	<title>관리자 공지사항 리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">

   <div class="page_tits">
		<h3>공지사항 리스트</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span>
		</p>
	</div>
    <div class="search_wrap">
     <!-- 검색 폼 -->
    <form action="#" th:action="@{/admin/notice/list}" method="get">
        <select name="searchType">
        	<option value="all" th:selected="${searchDto.searchType == 'all'}">전체</option>
        	<option value="title" th:selected="${searchDto.searchType == 'title'}">제목</option>
        	<option value="content" th:selected="${searchDto.searchType == 'content'}">내용</option>
        </select>
        <input type="text" name="keyword" th:value="${searchDto.keyword}" placeholder="검색어 입력">
        <button type="submit" class="btns btn_st5 btn_big">검색</button>
    </form>
    </div>
    
    
    <!-- 공지사항 리스트 표시 -->
    
    <table class="tb tb_col">
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">제목</th>
						<th scope="col">작성자</th>
						<th scope="col">등록일</th>
						<th scope="col">조회</th>
					</tr>
				</thead>

				<tbody>
					
					<tr th:if="${not #lists.isEmpty(notices)}"
						th:each="notice : ${notices}">

						<td><span th:if="${notice.noticeYn}" class="icons"> <i
								class="fa fa-bell-o" aria-hidden="true"></i>
						</span> <span th:text="${notice.noticeYn ? '공지글' : notice.noticeId}"
							lang="en"></span></td>

						<td>
						<a th:href="@{/admin/notice/view(noticeId=${notice.noticeId})}"
							th:text="${notice.title}"></a></td>
						<td th:text="${notice.writer}"></td>
						<td
							th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm:ss')}"
							lang="en"></td>

						<td th:text="${notice.viewCnt}" lang="en"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(notices)}">
						<td colspan="5">게시물이 없습니다.</td>
					</tr>
				</tbody>
			</table>

  <div>
    <!-- 페이지 번호 목록 -->
    <ul class="paging">
    <!-- 이전 페이지 그룹 버튼 -->
    <li th:if="${pagedSearchDto.hasPreviousPageGroup()}">
        <a th:href="@{'/admin/notice/list'(page=${pagedSearchDto.getPreviousPageGroupEnd()}, keyword=${pagedSearchDto.keyword})}">&laquo; Previous</a>
    </li>

    <!-- 페이지 번호
    <li th:each="i : ${#numbers.sequence(pagedSearchDto.getCurrentPageGroupStart(), pagedSearchDto.getCurrentPageGroupEnd(totalRecordCount))}" style="padding-right: 10px;">
        <a th:href="@{'/admin/notice/list'(page=${i}, keyword=${pagedSearchDto.keyword})}" th:text="${i}"></a>
    </li>-->
    
     <!-- 페이지 번호 -->
            <li th:each="i : ${#numbers.sequence(pagedSearchDto.getCurrentPageGroupStart(), pagedSearchDto.getCurrentPageGroupEnd(totalRecordCount))}">
                <a th:if="${i != pagedSearchDto.page}" th:href="@{'/admin/notice/list'(page=${i}, keyword=${pagedSearchDto.keyword})}" th:text="${i}"></a>
                <a th:if="${i == pagedSearchDto.page}" th:text="${i}" class="active"></a>
            </li>
    

    <!-- 다음 페이지 그룹 버튼 -->
    <li th:if="${pagedSearchDto.hasNextPageGroup(totalRecordCount)}">
        <a th:href="@{'/admin/notice/list'(page=${pagedSearchDto.getNextPageGroupStart(totalRecordCount)}, keyword=${pagedSearchDto.keyword})}">Next &raquo;</a>
    </li>
</ul>
</div>
 <!-- 현재 페이지 번호 표시 -->
    <div>
        <p>현재 페이지: <span th:text="${pagedSearchDto.page}"></span></p>
    </div>
    

</th:block>
</html>