<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout/basic">
<th:block layout:fragment="title">
	<title>글 수정 페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>게시판 관리</h3>
		<p class="path">
			<strong>현재위치 : </strong> <span>게시판 관리</span><span>리스트형</span><span>상세정보</span>
		</p>
	</div>

	<div class="content">

		<section>
			<form id="upateNoticeForm" method="post" aria-autocomplete="off"
				enctype="multipart/form-data">

				<input type="hidden" id="noticeId" th:value="${notice.noticeId}" />


				<div class="board">
					<div class="flex">
						<ul style="display: flex; align-content: space-between;">

							<li><h4>구분</h4>
								<p class="check input">

									<input type="checkbox" id="myCheckbox" class="custom-checkbox">
									<label th:text="${notice.noticeYn == false ? '일반' : '공지' }"></label>
								</p></li>

							<li>

								<h4>작성자</h4> <input type="text" id="writer" class="input"
								name="writer" th:value="${session.loginMember.memberName}"
								readonly />

							</li>

							<li><h4>등록일</h4> <input type="text" id="createdDate"
								lang="en" name="createdDate" class="input"
								th:value="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"
								readonly></li>

							<li>
								<h4 class="">조회</h4>
								<p lang="en" class="input">[[${notice.viewCnt}]]</p>
							</li>

						</ul>
					</div>



					<ul>

						<li><h4 class="">제목</h4> <input type="text"
							th:value="${notice.title}" name="title" /></li>

						<li class="textarea">
							<h4 class="">내용</h4> <textarea name="content"> [[${notice.content}]]</textarea>
						</li>


						<li>
							<h4 class="">첨부파일</h4>
							
							<!-- 파일리스트 출력되는거 -->
							<div id="files"></div>

							<div class="file_list">
								<div>
									<div class="file_input">
										<input type="text" readonly /> 
										<label> 첨부파일추가 <input type="file" name="files" onchange="selectFile(this);" />
										</label>
									</div>
									
									<!-- <button type="button" onclick="removeFile(this);"
										class="btns del_btn">
										<i class="material-symbols-outlined">cancel</i> <span>삭제</span>
									</button>
									<button type="button" onclick="addFile();"
										class="btns fn_add_btn">
										<i class="material-symbols-outlined">add_circle</i> <span>추가</span>
									</button> -->
								</div>
							</div>

						</li>
					</ul>
				</div>

			</form>

			<p class="btn_set">
				<button type="button" id="updateNotice"
					class="btns btn_bdr4 btn_mid">수정</button>
				<button type="button" class="btns btn_bdr1 btn_mid">삭제</button>
				<a th:href="@{/admin/notice/list}" class="btns btn_bdr3 btn_mid">목록</a>
			</p>
		</section>
	</div>

</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">

	window.onload = () => {
		findAllFile();
	}
	
	let filesToDelete = new Set();
	
	// 전체파일 조회
	function findAllFile(){
		//1. api 호출 
		const noticeId = [[ ${notice.noticeId}]];
		
		const response = getJson(`/admin/notice/${noticeId}/files`);
		
		//2. 로직종료
		if(!response.length){
			// 파일이 없는 경우 메시지를 표시하고 함수 종료
	        document.getElementById('files').textContent = '첨부 파일이 없습니다.';
	        return;
		}
		
		//3. 파일 영역 추가 = 보여주는 부분
		let fileHtml = '<div class="file_down"><div class="cont"><ul>';
		
		response.forEach(row =>{
			fileHtml += '<li>';
			console.log("row: ", row);
			if(row.originalName.match(/\.(jpeg|jpg|gif|png)$/) != null){ // 이미지 파일체크
				 fileHtml += `
					 <div class="file-item">
				        <img src="/admin/notice/${noticeId}/files/${row.fileId}/view" alt="${row.originalName}" style="width: 100%; height: auto;">
				        <a href="/admin/notice/${noticeId}/files/${row.fileId}/download">
				          <span class="icons">
				            <i class="fas fa-folder-open"></i>
				          </span>
				          ${row.originalName}
				        </a>
				        <button class="delete-file" data-fileid="${row.fileId}">X</button>
				      </div>
				`
			}
		});
		fileHtml += '</ul></div></div>';
		
		//4. 파일 html 렌더링
		document.getElementById('files').innerHTML = fileHtml;	
		
		//파일삭제 버튼 클릭 이벤트 추가
		document.querySelectorAll('.delete-file').forEach(button =>{
			button.addEventListener('click', function(){
				const fileId= this.dataset.fileId;
				deleteFile(fileId);
				this.closest('.file-item').remove();
			});
		});
		
	} // 전체파일 조회 end 
	
	
    // 파일 선택
   function selectFile(element) {
    	const files = element.files;
    	const filename = element.closest('.file_input').firstElementChild;

    	// 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
    	if (!files.length) {
        	filename.value = '';
        	return false;
    	}

    	// 2. 파일 크기가 10MB를 초과하는 경우
    	for (let i = 0; i < files.length; i++) {
        	const file = files[i];
        	const fileSize = Math.floor(file.size / 1024 / 1024);
        	
        	if (fileSize > 10) {
            	alert('10MB 이하의 파일로 업로드해 주세요.');
            	filename.value = '';
            	element.value = '';
            	return false;
        }
    }

    	// 3. 선택한 파일들을 FormData에 추가
   		for (let i = 0; i < files.length; i++) {
        	const file = files[i];
        	formData.append('files', file);
        	filename.value += file.name + ' '; // 선택한 파일명 표시
    	}
	} // 파일 선택 end
	
	//이미지 삭제버튼에 클릭 이벤트 추가

    // 수정 저장 로직
	document.getElementById("updateNotice").addEventListener("click", function(e) {
	    	e.preventDefault(); // 폼의 기본 동작을 막습니다.
	    	
	    	//formData 객체생성
    		let formData = new FormData(document.getElementById('updateNoticeForm'));
    		const noticeId = document.getElementById('noticeId').value;
    		
    		// 파일 삭제 함수 호출
	        filesToDelete.forEach(fileId => {
				formData.append('filesToDelete', fileId);
			});
	    	
	     	// Ajax 요청 보내기
	    		$.ajax({
		   		url: "/admin/notice/update/${noticeId}",
		    	type: "POST",
		    	data: formData,
		    	processData: false,
		    	contentType: false,
		    	success: function(response) {
		    		if (response){
		    			alert("서버로부터와 응답데이터 : " + response);
		    		} else {
		    			alert("서버로부터와 응답데이터 비어있습니다.");
		    		}
		    	
		    		// Ajax요청이 성공후 폼 데이터 초기화
		    		document.getElementById("upateNoticeForm").reset();
		    		let redirectUrl = "/admin/notice/list";
		    		window.location.href= redirectUrl;
		    	
		    	},
		    	error: function(xhr, status, error) {
		    		saveBtn.disabled = false;
		    		console.error("요청 실패 상태 코드:", xhr.status);
		    		console.error("요청 실패 상태 텍스트:", xhr.statusText);
		    		console.error("요청 실패 메시지:", xhr.responseText);
		    		console.error("에러:", error);
		    	}
		    });    
	    });  // 수정 저장 로직 end

	
	
	</script>
</th:block>

</html>