<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout/basic">
<th:block layout:fragment="title">
	<title>글 상세페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>게시판 관리</h3>
		<p class="path">
			<strong>현재위치 : </strong> <span>게시판 관리</span><span>리스트형</span><span>상세정보</span>
		</p>
	</div>

	<div class="content">
	<form id="saveNoticeForm" method="post" aria-autocomplete="off"
				enctype="multipart/form-data">
</form>
		<section>
			<table class="tb tb_row">
				<colgroup>
					<col style="width: 10%;" />
					<col style="width: 23%;" />
					<col style="width: 10%;" />
					<col style="width: 23%;" />
				</colgroup>

				<tbody>
					<tr>
						<th scope="row">글 유형</th>
						<td th:text="${notice.noticeYn == false ? '일반' : '공지' }"></td>
						<th scope="row">등록일</th>
						<td
							th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}" lang="en"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td><input type="text" th:value="${notice.title}" name="title" /></td>
						<th scope="row">조회</th>
						<td colspan="3" lang="en">[[${notice.viewCnt}]]</td>
					</tr>
					<tr>
						<th scope="row">이름</th>
						<td colspan="3">[[${notice.writer}]]</td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td colspan="3"><textarea th:text="${notice.content}" name="content"></textarea></td>
					</tr>

					<!-- 파일 정보가 있는 경우에만 표시 -->
					<!-- tr th:if="${not #lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">
							<div th:each="file : ${files}">
								<span
									th:if="${file.originalName.endsWith('.jpg') or file.originalName.endsWith('.jpeg') or file.originalName.endsWith('.png') or file.originalName.endsWith('.gif')}">
									
									<img th:src="@{uploadPath}" th:alt="Image" />
								</span>
							</div>
						</td>
					</tr> -->
					<!-- 파일 정보가 없는 경우 -->
					<!-- <tr th:if="${#lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">첨부된 파일이 없습니다.</td>
					</tr> -->
					
					<tr>
						<th scope="row">첨부파일</th>
						<td id="files" colspan="3">
							<div class="file_list"></div>
							    <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
						 </td>	
					
					</tr>
					

				</tbody>
			</table>

			<p class="btn_set">
				<!-- <a th:href="@{/admin/notice/update(noticeId=${notice.noticeId})}"
					class="btns btn_bdr4 btn_mid">수정</a> -->
				<button type="button" onclick="updateNotice()" class="btns btn_bdr4 btn_mid">수정</button>
				<button type="button" class="btns btn_bdr1 btn_mid">삭제</button>
				<a th:href="@{/admin/notice/list}" class="btns btn_bdr3 btn_mid">목록</a>
			</p>
		</section>
	</div>


</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
	/*<![CDATA[*/
		
		//로드하고 바로 실행
		window.onload= function(){
		findAllFile(); 
	};
	
	// 공지사항이미지파일 불러오기 엔드포인트 설정
	function findAllFile(){
		const noticeId = [[ ${notice.noticeId} ]];
		
		//ajax 요청 
		$.ajax({
			type:'GET',
			url: `/admin/notice/${noticeId}/files`,
			success : function(response){
				renderFiles(response, noticeId);
			},
			error: function(xhr, status, error){
				console.log('Error fetching files : ', error);
			}
		});
		
	}
	
	
	//파일을 자바스크립트로 태그생성후 이미지 불러오기!
	function renderFiles(files, noticeId){
		let fileHtml = '';
		
		files.forEach(file => {
			let fileItem = '';
			if(file.originalName.match(/\.(jpge|jpg|gif|png)$/i) != null){
				fileItem = `
				<div class="file_item">
					<div><img src="/admin/notice/${noticeId}/files/${file.fileId}/view" alt="${file.originalName}" style="width:100%; height:auto;" /></div>
					<button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
				</div>	
				`
			} else{
				fileItem = `
					<div class="file_item">
						<a href="/admin/notice/${file.noticeId}/files/${file.fileId}/download">
							<span class="icons">
								<i class="fas fa-folder-open"></i>
							</span>
							${file.originalName}
						</a>
						<button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
					</div>`;
			}
			fileHtml += fileItem;
		});
		document.querySelector('.file_list').innerHTML = fileHtml;
	}
	
	// 파일추가 
	function addFile(){
		const fileInput = document.createElement('input');
		fileInput.type='file';
		fileInput.name='files';
		fileInput.onchange = function(){
			selectFile(this);
		};
		
		const fileDiv = document.createElement('div');
		fileDiv.className= 'file_item';
		fileDiv.appendChild(fileInput);
		
		const removeBtn = document.createElement('button');
		removeBtn.type='button';
		removeBtn.className = 'btns del_btn';
		removeBtn.innerHTML = '<span>새로운 파일누르고 나오는 삭제</span>';
		removeBtn.onclick = function(){
			removeFile(this);
		};
		
		fileDiv.appendChild(removeBtn);
		document.querySelector('.file_list').appendChild(fileDiv);
	}
	
	// 삭제하기
	function removeFile(btn){
		btn.parentNode.remove();
	}
	
	
	// 수정 버튼 클릭 시 실행되는 함수
	function updateNotice() {
		alert("dd");
	    const noticeId = [[ ${notice.noticeId} ]];  // Thymeleaf를 사용하여 noticeId 값을 가져옴
	    const title = document.querySelector('input[name="title"]').value;
	    const content = document.querySelector('textarea[name="content"]').value;
	   
	    const data = {
	        noticeId: noticeId,
	        title: title,
	        content: content
	    };

	    // AJAX 요청
	    $.ajax({
	        type: 'PUT',
	        url: `/admin/notice/update/${noticeId}`,  // 수정 엔드포인트에 PUT 요청을 보냄
	        contentType: 'application/json',
	        data: JSON.stringify(data),
	        
	        success: function(response) {
	            // 성공적으로 수정되었을 때의 처리
	           alert('게시물이 성공적으로 수정되었습니다.');
	            // 필요한 추가 작업 수행
	           let redirectUrl = '/admin/notice/list';
	            window.location.href=redirectUrl;
	        },
	        error: function(xhr, status, error) {
	            // 수정 실패 시의 처리
	            alert('게시물 수정 중 오류가 발생했습니다.');
	            console.log(error);
	        }
	    });
	}
	
	
	
	/*]]>*/
	</script>
</th:block>

</html>