<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout/basic">
<th:block layout:fragment="title">
	<title>글 상세페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>게시판 관리</h3>
		<p class="path">
			<strong>현재위치 : </strong> <span>게시판 관리</span><span>리스트형</span><span>상세정보</span>
		</p>
	</div>

	<div class="content">
		<section>
			<table class="tb tb_row">
				<colgroup>
					<col style="width: 10%;" />
					<col style="width: 23%;" />
					<col style="width: 10%;" />
					<col style="width: 23%;" />
				</colgroup>

				<tbody>
					<tr>
						<th scope="row">글 유형</th>
						<td th:text="${notice.noticeYn == false ? '일반' : '공지' }"></td>
						<th scope="row">등록일</th>
						<td
							th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}" lang="en"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td><input type="text" th:value="${notice.title}" name="title" /></td>
						<th scope="row">조회</th>
						<td colspan="3" lang="en">[[${notice.viewCnt}]]</td>
					</tr>
					<tr>
						<th scope="row">이름</th>
						<td colspan="3">[[${notice.writer}]]</td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td colspan="3"><textarea th:text="${notice.content}" name="content"></textarea></td>
					</tr>

					<!-- 파일 정보가 있는 경우에만 표시 -->
					<!-- tr th:if="${not #lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">
							<div th:each="file : ${files}">
								<span
									th:if="${file.originalName.endsWith('.jpg') or file.originalName.endsWith('.jpeg') or file.originalName.endsWith('.png') or file.originalName.endsWith('.gif')}">
									
									<img th:src="@{uploadPath}" th:alt="Image" />
								</span>
							</div>
						</td>
					</tr> -->
					<!-- 파일 정보가 없는 경우 -->
					<!-- <tr th:if="${#lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">첨부된 파일이 없습니다.</td>
					</tr> -->
					
					<tr>
						<th scope="row">첨부파일</th>
						<td id="files" colspan="3"></td>							
					</tr>
					
					

				</tbody>
			</table>

			<p class="btn_set">
				<a th:href="@{/notice/update(noticeId=${notice.noticeId} )}"
					class="btns btn_bdr4 btn_mid">수정</a>
				<button type="button" class="btns btn_bdr1 btn_mid">삭제</button>
				<a th:href="@{/notice/list}" class="btns btn_bdr3 btn_mid">목록</a>
			</p>
		</section>
	</div>


</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
			function findAllFile(){
			
			// Thymeleaf를 사용하는 것으로 보이므로, noticeId 값 가져오기
			const noticeId = [[ ${notice.noticeId} ]]; 
			
			$.ajax({
				type:'GET',
				url:`/admin/notice/${noticeId}/files`,
				success:function (response){
					//서버로부터 받은 파일목록 (response)을 처리하는 로직을 작성
					console.log(response); // 파읾고록을 콘솔에 출력해서 확인
					renderFiles(response); // 파읾목록을 ui에 렌더링하는 함수 호출
				},
				error: function(xhr, status, error){
					console.log('Error fetching files:' ,error);
				}
			});
			
		}
		
		
		// 파일 목록을 ui에 렌더링하는 함수
		function renderFiles(files){
			let fileHtml = '<div class="file_down"><div class="cont">';
			files.forEach(file=>{
				if(file.originalName.match(/\.(jpge|jpg|gif|png)$/) != null){ // 이미지 파일 체크
					fileHtml += `<img src="/admin/notice/${file.noticeId}/files/${file.fileId}/view" alt="${file.originalName}" style="width: 100%; height: auto;">`;		
				}else{
					fileHtml += `<a href="/admin/notice/${file.noticeId}/files/${file.fileId}/download">
                        <span class="icons">
                        <i class="fas fa-folder-open"></i>
                    </span>
                    ${file.originalName}
                </a>`;
				}
			});
			fileHtml += '</div></div>';
			
			// 파일 렌더링
			document.getElementById('files').innerHTML = fileHtml;
		}
		
		// 페이지 로드 시 파일 목록 조회 
		window.onload = function(){
			findAllFile();
		};
		
		
		/*]]>*/
	</script>
</th:block>

</html>