<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout/basic">
<th:block layout:fragment="title">
	<title>글 상세페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>게시판 관리</h3>
		<p class="path">
			<strong>현재위치 : </strong> <span>게시판 관리</span><span>리스트형</span><span>상세정보</span>
		</p>
	</div>

	<div class="content">
		<section>

			<div class="board">
				<div class="flex">
					<ul style="display: flex; align-content: space-between;">

						<li><h4>구분</h4>
							<p class="check input">

								<input type="checkbox" id="myCheckbox" class="custom-checkbox">
								<label th:text="${notice.noticeYn == false ? '일반' : '공지' }"></label>
							</p></li>

						<li>

							<h4>작성자</h4> <input type="text" id="writer" class="input"
							name="writer" th:value="${session.loginMember.memberName}"
							readonly />

						</li>

						<li><h4>등록일</h4> <input type="text" id="createdDate"
							lang="en" name="createdDate" class="input"
							th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
							readonly></li>
						<li>
							<h4 class="">조회</h4>
							<p lang="en" class="input">[[${notice.viewCnt}]]</p>
						</li>

					</ul>
				</div>



				<ul>

					<li><h4 class="">제목</h4> [[${notice.title}]]</li>

					<li class="textarea">
						<h4 class="">내용</h4>
						<textarea readonly> [[${notice.content}]]</textarea>
					</li>


					<li>
						<h4 class="">첨부파일</h4>
						<div id="files"></div>
					</li>


				</ul>


			</div>

			<!-- 파일 정보가 있는 경우에만 표시 -->
			<!-- tr th:if="${not #lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">
							<div th:each="file : ${files}">
								<span
									th:if="${file.originalName.endsWith('.jpg') or file.originalName.endsWith('.jpeg') or file.originalName.endsWith('.png') or file.originalName.endsWith('.gif')}">
									
									<img th:src="@{uploadPath}" th:alt="Image" />
								</span>
							</div>
						</td>
					</tr> -->
			<!-- 파일 정보가 없는 경우 -->
			<!-- <tr th:if="${#lists.isEmpty(files)}">
						<th scope="row">파일</th>
						<td colspan="3">첨부된 파일이 없습니다.</td>
					</tr> -->

			<p class="btn_set">
				<a th:href="@{/admin/notice/update/{noticeId}(noticeId=${notice.noticeId})}"
					class="btns btn_st5 btn_big">수정</a>
				<button type="button" class="btns btn_bdr5 btn_big">삭제</button>
				<a th:href="@{/notice/list}" class="btns btn_bdr5 btn_mid">목록</a>
			</p>
		</section>
	</div>


</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
			window.onload = () => {
				findAllFile();
			}
			
			// 전체파일 조회
			function findAllFile(){
				//1. api 호출 
				const noticeId = [[ ${notice.noticeId}]];
				
				const response = getJson(`/admin/notice/${noticeId}/files`);
				
				//2. 로직종료
				if(!response.length){
					// 파일이 없는 경우 메시지를 표시하고 함수 종료
			        document.getElementById('files').textContent = '첨부 파일이 없습니다.';
			        return;
				}
				
				//3. 파일 영역 추가
				let fileHtml = '<div class="file_down"><div class="cont"><ul>';
				
				response.forEach(row =>{
					fileHtml += '<li>';
					if(row.originalName.match(/\.(jpeg|jpg|gif|png)$/) != null){ // 이미지 파일체크
						 fileHtml += `
						<img src="/admin/notice/${noticeId}/files/${row.fileId}/view" alt="${row.originalName}" style="width: 100%; height: auto;" >
						<a href="/admin/notice/${noticeId}/files/${row.fileId}/download">
						<span class="icons">
						<i class="fas fa-folder-open"></i></span>${row.originalName}
						</a>
						`
					}
					
				
					
				});
				fileHtml += '</ul></div></div>';
				
				
				//4. 파일 html 렌더링
				document.getElementById('files').innerHTML = fileHtml;
			}
			
			window.addEventListener('DOMContentLoaded', function() {
	            document.getElementById('myCheckbox').checked = true; // 체크박스를 체크된 상태로 설정
	        });
		/*]]>*/
	</script>
</th:block>

</html>