<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
	<title>글작성 페이지</title>
</th:block>


<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>공지사항 글쓰기</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span>
		</p>
	</div>

	<div class="content">
		<section>
			<form id="saveNoticeForm" method="post" aria-autocomplete="off"
				enctype="multipart/form-data">

				<!-- 게시글 수정인 경우 -->
				<input type="hidden" id="noticeId" name="noticeId"
					th:if="${notice != null}" th:value="${notice.noticeId}" />

				<!-- 서버로 전달할 공지글 여부 -->
				<input type="hidden" id="noticeYn" name="noticeYn" />

				<div class="board">

					<div class="flex">
						<ul style="display: flex; align-content: space-between;">

							<li><h4>구분</h4>
								<p class="check input">
									<input type="checkbox" id="isNotice" name="isNotice"
										class="chk" onchange="updateNoticeStatus()" /> <label
										for="isNotice"> 공지글 설정</label>
								</p></li>
							<li>

								<h4>작성자</h4> <input type="text" id="writer" class="input"
								name="writer" th:value="${session.loginMember.memberName}"
								readonly />

							</li>

							<li><h4>등록일</h4> 
							<input type="text" id="createdDate"
								lang="en" name="createdDate" class="input"
								th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
								readonly></li>
						</ul>

					</div>


					<ul>


						<li>
							<h4 class="es">제목</h4>
							<span class="es"></span> <input type="text" id="title"
							name="title" class="input" maxlength="50"
							placeholder="제목을 입력해 주세요." />
						</li>

						<li class="bordernone">
							<h4>내용</h4> <textarea id="content" name="content" cols="50"
								rows="10" placeholder="내용을 입력해 주세요."></textarea>
						</li>

						<li>
							<h4 class="">첨부파일</h4>
							<div class="file_list">
								<div>
									<div class="file_input">
										<input type="text" readonly /> <label> 첨부파일 <input
											type="file" name="files" onchange="selectFile(this);" />
										</label>
									</div>
									<button type="button" onclick="removeFile(this);"
										class="btns del_btn">
										<i class="material-symbols-outlined">cancel</i> <span>삭제</span>
									</button>
									<button type="button" onclick="addFile();"
										class="btns fn_add_btn">
										<i class="material-symbols-outlined">add_circle</i> <span>추가</span>
									</button>
								</div>
							</div>

						</li>

					</ul>
				</div>


			</form>
			<p class="btn_set">
				<button type="button" id="saveBtn" onclick="saveNotice();"
					class="btns btn_st5 btn_big">등록하기</button>
				<a th:href="@{/admin/notice/list}" class="btns btn_bdr5 btn_big">돌아가기</a>
			</p>
		</section>
	</div>

</th:block>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		// 게시글 저장
		function saveNotice() {

			const form = document.getElementById("saveNoticeForm");

			const fields = [form.title, form.writer, form.content];
			const fieldsNames = ['제목', '이름', '내용'];

			for (let i = 0, len = fields.length; i < len; i++) {
				isValid(fields[i], fieldsNames[i]);
			}

			document.getElementById("saveBtn").disabled = true;
			// '공지글' 체크박스가 체크되었을 때는 'Y', 체크되지 않았을 때는 'N' 값을 설정
			//form.noticeYn.value = form.isNotice.checked ? 'Y' : 'N';
			form.noticeYn.value = form.isNotice.checked;

			form.action = [[${notice == null} ]] ? '/admin/notice/save' : '/admin/notice/update';
			form.submit();
		
		}
		
		
		
		 // 파일 선택
		    function selectFile(element) {
		
		        const file = element.files[0];
		        const filename = element.closest('.file_input').firstElementChild;
		
		        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
		        if ( !file ) {
		            filename.value = '';
		            return false;
		        }
		
		        // 2. 파일 크기가 10MB를 초과하는 경우
		        const fileSize = Math.floor(file.size / 1024 / 1024);
		        if (fileSize > 10) {
		            alert('10MB 이하의 파일로 업로드해 주세요.');
		            filename.value = '';
		            element.value = '';
		            return false;
		        }
		
		        // 3. 파일명 지정
		        filename.value = file.name;
		    }
		
		
		    // 파일 추가
		    function addFile() {
		        const fileDiv = document.createElement('div');
		        fileDiv.innerHTML =`
		            <div class="file_input">
		                <input type="text" readonly />
		                <label> 첨부파일
		                    <input type="file" name="files" onchange="selectFile(this);" />
		                </label>
		            </div>
		            <button type="button" onclick="removeFile(this);" class="btns del_btn"><i class="material-symbols-outlined">cancel</i><span>삭제</span></button>
		        `;
		        document.querySelector('.file_list').appendChild(fileDiv);
		    }
		
		
		    // 파일 삭제
		    function removeFile(element) {
		        const fileAddBtn = element.nextElementSibling;
		        if (fileAddBtn) {
		            const inputs = element.previousElementSibling.querySelectorAll('input');
		            inputs.forEach(input => input.value = '')
		            return false;
		        }
		        element.parentElement.remove();
		    }


   

		/* ]]> */
	</script>
</th:block>

</html>