<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
	<title>글작성 페이지</title>
</th:block>


<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>공지사항 글쓰기</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span>
		</p>
	</div>

	<div class="content">
		<section>
			<form id="saveNoticeForm" method="post" aria-autocomplete="off"
				enctype="multipart/form-data">

				<!-- 게시글 수정인 경우 -->
				<input type="hidden" id="noticeId" name="noticeId" th:if="${notice != null}"
					th:value="${notice.noticeId}" />

				<!-- 서버로 전달할 공지글 여부 -->
				<input type="hidden" id="noticeYn" name="noticeYn" />

				<table class="tb tb_row">
					<colgroup>
						<col style="width: 15%" />
						<col style="width: 35%" />
						<col style="width: 15%" />
					</colgroup>

					<tbody>

						<tr>
							<th scope="row">공지글</th>
							<td><span class="check"> <input type="checkbox"
									id="isNotice" name="isNotice" class="chk"
									onchange="updateNoticeStatus()" /> <i></i><label
									for="isNotice"> 설정</label></span> </span></td>

							<th scope="등록일">등록일</th>
							<td colspan="3"><input type="text" id="createdDate"
								name="createdDate"
								th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
								readonly></td>
						</tr>

						<tr>
							<th>제목 <span class="es">필수 입력</span></th>
							<td colspan="3"><input type="text" id="title" name="title"
								maxlength="50" placeholder="제목을 입력해 주세요." /></td>
						</tr>

						<tr>
							<th>이름 <span class="es">필수 입력</span></th>
							<td colspan="3"><input type="text" id="writer" name="writer"
								maxlength="10" placeholder="이름을 입력해 주세요." /></td>
						</tr>

						<tr>
							<th>내용 <span class="es">필수 입력</span></th>
							<td colspan="3"><textarea id="content" name="content"
									cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
						</tr>

						<!-- <tr>
							<th>첨부파일</th>
							<td colspan="3">
								<div class="file_list">
									<div>
										<div class="file_input">
											<input type="text" readonly /> <label>첨부파일 <input
												type="file" name="file" onchange="selectFile(this);">
											</label>
										</div>
										<button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
										<button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
									</div>
								</div>
							</td>
						</tr> -->

					</tbody>
				</table>
			</form>
			<p class="btn_set">
				<button type="button" id="saveBtn" onclick="saveNotice();"
					class="btns btn_st3 btn_mid">저장</button>
				<a th:href="@{/admin/notice/list}" class="btns btn_bdr3 btn_mid">뒤로</a>
			</p>
		</section>
	</div>

</th:block>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		// 게시글 저장
		function saveNotice() {

			const form = document.getElementById("saveNoticeForm");

			const fields = [form.title, form.writer, form.content];
			const fieldsNames = ['제목', '이름', '내용'];

			for (let i = 0, len = fields.length; i < len; i++) {
				isValid(fields[i], fieldsNames[i]);
			}

			document.getElementById("saveBtn").disabled = true;

			// '공지글' 체크박스가 체크되었을 때는 'Y', 체크되지 않았을 때는 'N' 값을 설정
			//form.noticeYn.value = form.isNotice.checked ? 'Y' : 'N';
			form.noticeYn.value = form.isNotice.checked;

			form.action = [[${notice == null} ]] ?'/admin/notice/save' : '/admin/notice/update';
			form.submit();
		
		}

		/* ]]> */
	</script>
</th:block>

</html>