<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


<!-- sql쿼리 로그 출력, https://congsong.tistory.com/23 자세한 설명 글  -->
    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="com.various_functions" level="INFO" appender-ref="console" />
    <!-- sql을 로그로 남기며, 자동으로 변경되어 sql을 출력 -->
    <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />
    
     <!-- 매퍼 스캔
    <mappers>
        <mapper resource="com.various_functions.mapper.RoomInfoMapper.xml"/>      
    </mappers> -->
    
    
    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console" />
    </root> 
</configuration>