<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/content.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
	<style>
		#login_box .signup_btn {background:#42d870; border:0; border-bottom:solid 3px #4ed177; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
	</style>
	
</head>
<body>

<div>
		<h3>회원가입</h3>
		<div class="pop_container">
			<form id="signupForm" onsubmit="return false;" autocomplete="off">
				<table class="tb tb_row tl">
					<colgroup>
						<col style="width:30%;" /><col style="width:70%;" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">아이디<span class="es">필수 입력</span></th>
							<td>
								<input type="text" name="loginId" placeholder="아이디" maxlength="20" style="width: 80%;" />
								<button type="button" id="idCheckBtn" class="btns btn_st5" onclick="checkLoginId();" style="width: 20%; float: right;">중복 확인</button>
							</td>
						</tr>
						<tr>
							<th scope="row">비밀번호<span class="es">필수 입력</span></th>
							<td><input type="text" name="password" placeholder="비밀번호" maxlength="30" /></td>
						</tr>
						<tr>
							<th scope="row">비밀번호 재입력<span class="es">필수 입력</span></th>
							<td><input type="text" name="passwordCheck" placeholder="비밀번호 재입력" maxlength="30" /></td>
						</tr>
						<tr>
							<th scope="row">이름<span class="es">필수 입력</span></th>
							<td><input type="text" name="name" placeholder="이름" maxlength="10" /></td>
						</tr>
						<tr>
							<th scope="row">성별<span class="es">필수 입력</span></th>
							<td>
								<div class="radio_group">
									<p class="radios">
										<input type="radio" id="male" name="gender" value="M" checked />
										<label for="male">남</label><span class="check"></span>
									</p>
									<p class="radios">
										<input type="radio" id="female" name="gender" value="F" />
										<label for="female">여</label><span class="check"></span>
									</p>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">생년월일<span class="es">필수 입력</span></th>
							<td><input type="number" name="birthday" placeholder="숫자 8자리 입력" /></td>
						</tr>
					</tbody>
				</table>
			</form>
			<p class="btn_set">
				<button type="button" class="btns btn_st2" onclick="saveMember();">가입</button>
				<button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
			</p>
		</div>
		<button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
	</div>
	
	<script th:src="@{/js/function.js}"></script>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
	
		
</body>
</html>