<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">
<th:block layout:fragment="title">
	<title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h2>회원 관리</h2>
		<p class="path">
			<strong>현재위치 :</strong><span>회원</span>
		</p>
	</div>
	
	<div class="content">
		<section>
			<!-- 리스트 -->
			<table>
				<colgroup>
				<col style="width:auto;"/>
				<col style="width:auto;"/>
				<col style="width:auto;"/>
				</colgroup>
			</table>
		</section>	
	</div>
	
</th:block>

</html>