<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout/basic">
<th:block layout:fragment="title">
	<title>마이 페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h2>회원 관리</h2>
		<p class="path">
			<strong>현재위치 :</strong><span>회원</span>
		</p>
	</div>

	        <div class="content">
            <section>
                
       <table class="tb tb_col">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>가입일</th>
                
            </tr>
        </thead>
        <tbody>
        
            <tr th:if="${not #lists.isEmpty(memberInquiry)}"  th:each="inquiry : ${memberInquiry}">
                <td th:text="${inquiry.inquiryId}"></td>
                <td th:text="${inquiry.title}"></td>
                <td th:text="${#temporals.format(inquiry.createdDate, 'yyyy-MM-dd')}"></td>     
            </tr>
            <tr th:if="${#lists.isEmpty(memberInquiry)}">
				<td colspan="2">게시물이 없습니다.</td>
			</tr>
        </tbody>
    </table>
    
            </section>
        </div> <!--/* .content */-->
        
        

</th:block>

</html>