<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">
<th:block layout:fragment="title">
	<title>마이 페이지</title>
</th:block>

<th:block layout:fragment="content">
	<div class="page_tits">
		<h2>회원 관리</h2>
		<p class="path">
			<strong>현재위치 :</strong><span>회원</span>
		</p>
	</div>

	        <div class="content">
            <section>
                <form>
                    <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                    <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.id}" />
                  	
                  	<!--/* 서버로 전달할 공지글 여부 */-->
                    <input type="hidden" id="noticeYn" name="noticeYn" />
                    <!-- 삭제 처리할 파일 번호 -->
                    <input type="hidden" id="removeFileIds" name="removeFileIds" />
                     
                    <table class="tb tb_row">
                        <colgroup>
                            <col style="width:15%;" />
                            <col style="width:35%;" />
                            <col style="width:15%;" />
                            <col style="width:35%;" />
                        </colgroup>
                        <tbody>
                            
                            <tr>
                                <th>제목 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요." /></td>
                            </tr>

                            <tr>
                                <th>이름 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="writer" name="writer" maxlength="10" /></td>
                            </tr>

                            <tr>
                                <th>내용 <span class="es">필수 입력</span></th>
                                <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
                            </tr>
                            
                            <tr>
								<th>첨부파일</th>
								<td colspan="3">
									<div class="file_list">
										<div>
											<div class="file_input">
												<input type="text" readonly />
												<label>첨부파일
													<input />
												</label>
											</div>
											<button type="button" onclick="" class="btns del_btn"><span>삭제</span></button>
											<button type="button" onclick="" class="btns fn_add_btn"><span>파일 추가</span></button>
											
										</div>
									</div>
								</td>
							</tr>
                        </tbody>
                    </table>
                </form>
                <p class="btn_set">
                    <button type="button" id="saveBtn" onclick="savePost();" class="btns btn_st3 btn_mid">저장</button>
                    <a th:href="@{/post/list}" class="btns btn_bdr3 btn_mid">뒤로</a>
                </p>
            </section>
        </div> <!--/* .content */-->
        
        

</th:block>

</html>