<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/basic">



<th:block layout:fragment="content">

	<script
		src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ca64d7f5c677c3e5cca8b9e90d0eebc5&libraries=services"></script>


	<section>
		<form id="updateFormAccommodations" method="post" enctype="multipart/form-data">
			 <!-- 숙소 ID 입력 요소 -->
   			 <input type="hidden" id="accommodationId" th:value="${accommodation.accommodationId}">
			
			<!-- 객실기본정보 start -->
			<div class="room_basic">

				<h3 class="room_title">객실 기본 정보</h3>
				<div class="" style="display:flex;">
					<ul>
					<li class="join-field"><span class="point_color">*</span> 카테고리
						<select name="accommodationCate" class="input">
							<option value="hotel" th:selected="${accommodation.accommodationCate == 'hotel'}">호텔</option>
							<option value="motel" th:selected="${accommodation.accommodationCate == 'motel' }">모텔</option>
							<option value="guesthouse" th:selected="${accommodation.accommodationCate == 'guesthouse'}">게스트하우스</option>
					</select>
					</li>

					<li class="join-field"><span class="point_color">*</span>숙박업소명
					<div></div>
						<input type="text" name="accommodationName" th:value="${accommodation.accommodationName}" class="input"
						lang="en"></li>
					</ul>
				</div>
				
				
				<ul>
					<li class="room_map">
						<div class="add_input">
							<label for="accommodationAdress"><span
								class="point_color">*</span>주소</label> <input type="button"
								value="주소 검색" onclick="execution_daum_address()"> <input
								type="text" id="accommodationAdress" name="accommodationAdress"
								class="input" th:value="${accommodation.accommodationAdress}">
						</div>

						<div id="map" style="width: 100%; height: 400px;"></div>

					</li>

					<li class="join-field"><label for="accommodationPhone"><span
							class="point_color">*</span>전화번호</label> <input type="tel"
						name="accommodationPhone" id="accommodationPhone" class="input"
						maxlength="20" lang="en" th:value="${accommodation.accommodationPhone}"></li>

					<li class="join-field"><label for="accommodationTotalroom">
							<span class="point_color">*</span>총객실수
					</label> <input type="text" id="accommodationTotalroom"
						name="accommodationTotalroom" class="input" lang="en"
						th:value="${accommodation.accommodationTotalroom}"></li>

					<li><span class="point_color">*</span>숙소성급 <input
						type="text" id="accommodationGrade" name="accommodationGrade"
						th:value="${accommodation.accommodationGrade}" />

						<div class="star-rating space-x-4 mx-auto">
							<!-- 별 모양 라디오 버튼 -->
							<div class="star-rating space-x-4 mx-auto">
								<span class="star pr-4" data-value="5">★</span> 
								<span class="star pr-4" data-value="4">★</span> 
								<span class="star pr-4" data-value="3">★</span> 
								<span class="star pr-4" data-value="2">★</span> 
								<span class="star" data-value="1">★</span>
							</div>
						</div>
					</li>
					
					<li><span class="point_color">*</span>숙소 소개
					<textarea
						name="accommodationDetail" th:text="${accommodation.accommodationDetail}" class="input"
						placeholder="숙소 소개를 입력해주세요.">
						</textarea>
					</li>

					<!-- 객실 소개 -->
					<h2>객실소개 부분</h2>
				
					<li class="join-field">
					<span class="point_color">*</span>객실타입
						<div th:each="room: ${accommodation.rooms}">
						<input type="text" th:value="${room.roomRoomtype}" name="roomRoomtype" class="input" lang="en"
						placeholder="">
						</div>
					</li>


					<li class="join-field"><span class="point_color">*</span>부가서비스
						<div th:each="room : ${accommodation.rooms}">	
						<input type="text" th:value="${room.roomService}" name="roomService" class="input" lang="en"
						placeholder="">
						</div>
						</li>

					<li class="join-field"><span class="point_color">*</span>객실크기
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomSize}" name="roomSize" class="input" lang="en"
						placeholder="">
						</div>
					</li>

					<li class="join-field"><span class="point_color">*</span>숙박가능인원
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomMinper}" name="roomMinper" class="input" lang="en"
						placeholder="">
						</div>
					</li>

					<li class="join-field"><span class="point_color">*</span>숙박최대인원
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomMaxper}" name="roomMaxper" class="input" lang="en"
						placeholder="">
						</div>
						</li>

					<li class="join-field"><span class="point_color">*</span>성수기
						요금
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomPeak}" name="roomPeak" class="input" lang="en"
						placeholder="">
						</div>
					</li>

					<li class="join-field"><span class="point_color">*</span>준성수기
						요금
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomSemipeak}" name="roomSemipeak" class="input" lang="en"
						placeholder="">
						</div>
						</li>

					<li class="join-field"><span class="point_color">*</span>비수기
						요금
						<div th:each="room : ${accommodation.rooms}">
						<input type="text" th:value="${room.roomOff}" name="roomOff" class="input" lang="en"
						placeholder="">
						</div>
						</li>
					<!-- https://www.pinterest.co.kr/pin/741053313723665481  디자인 참고하기-->

					<li class="join-field">
						<span class="point_color"></span>상세이미지
						<div class="file_list">
								<h4>이미지</h4>
                    	<div th:each="file : ${files}">
                        <img th:src="@{'/admin/accommodation/' + ${accommodation.accommodationId} + '/files/' + ${file.afId} + '/list'}" 
                        alt="File Image" style="width:50%;">
                   		</div>
							
							<div>
								<div class="file_input">
									<input type="text" readonly /> <span class="point_color">*</span>
									파일 <label> 첨부파2일 <input type="file" name="files"
										onchange="selectFile(this);" />
									</label>
								</div>

								<button type="button" onclick="removeFile(this);"
									class="btns del_btn">
									<span>삭제2</span>
								</button>
								<button type="button" onclick="addFile();"
									class="btns fn_add_btn">
									<span>파일2 추가</span>
								</button>
							</div>
							
						</div>

					</li>

				</ul>
			</div>
			<!-- 객실기본정보 end -->
		</form>

		<!-- 숙소저장하기 -->
		<p class="btn_set">
			<button type="button" id="acupdateBtn" class="btns btn_st3 btn_mid">수정</button>
			<a href="@{/accommodation/list}" class="btns btn_bdr3 btn_mid">뒤로</a>
		</p>
	</section>
	
	<script th:src="@{/js/accommodation.js}"></script>
	
	<script>
	document.addEventListener("DOMContentLoaded", function() {
        // 수정 버튼 핸들러
        let acupdateBtn = document.getElementById("acupdateBtn");

        if (acupdateBtn) {
            acupdateBtn.addEventListener("click", function(e) {
                e.preventDefault();

                let formData = new FormData(document.getElementById("updateFormAccommodations"));

                // 폼 입력 값이 비어 있는지 확인
                const inputs = document.querySelectorAll("#saveFormAccommodations .input");
                let isEmpty = false;

                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].value.trim() === "") {
                        isEmpty = true;
                        break;
                    }
                }

                if (isEmpty) {
                    alert("입력값을 제대로 입력해주세요.");
                    return;
                }

                // 숙소 ID를 URL에 포함시켜 서버로 AJAX 요청을 보냅니다.
                let accommodationId = document.getElementById("accommodationId").value;

                $.ajax({
                    url: `/admin/accommodation/update/${accommodationId}`,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        console.log(response);
                        alert("숙소 정보가 성공적으로 업데이트되었습니다.");

                        // ajax 요청이 성공한 후 폼 데이터를 초기화하거나 필요한 작업을 수행합니다.
                        document.getElementById("updateFormAccommodations").reset();
                    },
                    error: function(xhr, status, error) {
                        console.error("요청 실패: ", error);
                        alert("숙소 정보 업데이트 중 오류가 발생했습니다.");
                    }
                });
            });
        }
    });
	</script>
	
</th:block>

</html>