<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/basic">
<th:block layout:fragment="title">
	<title>관리자 숙소 상세보기 페이지</title>
</th:block>

<th:block layout:fragment="content">


	<div class="page_tits">
		<h3>숙소 리스트</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span>
		</p>
	</div>

	<div class="content">

		<section>

			<div class="board">
				<ul
					style="display: flex; flex-wrap: wrap; align-content: space-between;">


					<li>
						<h4>카테고리</h4>
						<div lang="en" class=""
							th:text="${accommodation.accommodationCate}"></div>

					</li>

					<li>
						<h4>숙소명</h4>
						<div lang="en" class=""
							th:text="${accommodation.accommodationName}"></div>
					</li>


					<li>
						<h4>주소</h4>
						<div lang="en" class=""
							th:text="${accommodation.accommodationAdress}"></div>

					</li>


					<li>
						<h4>전화번호</h4>
						<div lang="en" class=""
							th:text="${accommodation.accommodationPhone}"></div>
					</li>

					<li>
						<h4>총객실수</h4>
						<div lang="en" class="input"
							th:text="${accommodation.accommodationTotalroom}"></div>
					</li>

					<li>
						<h4>성급</h4>
						<div lang="en" class=""
							th:text="${accommodation.accommodationGrade} + '등급' "></div>
					</li>
					<!-- <li>
						<h4>객실타입</h4>
						<div th:each="room : ${accommodation.rooms}">
    						<div th:text="${room.roomRoomtype} + ' 타입'"></div>
						</div>
					</li> -->

					<li>
						<h4>객실타입</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.roomRoomtype} + ' 타입'"></div>
						</div>
					</li>

					<li>
						<h4>부가서비</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.roomService}"></div>
						</div>
					</li>

					<li>
						<h4>성수기 가격</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.RoomPeak}"></div>
						</div>
					</li>


					<li>
						<h4>준성수기 가격</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.RoomSemipeak}"></div>
						</div>
					</li>

					<li>
						<h4>비수기 가격</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.RoomOff}"></div>
						</div>
					</li>



					<li>
						<h4>최소인원</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.RoomMinper}"></div>
						</div>
					</li>
					<li>
						<h4>최대인원</h4>
						<div th:each="room : ${accommodation.rooms}">
							<div th:text="${room.RoomMaxper}"></div>
						</div>
					</li>
					<li>
						<h4>숙소소개</h4>

						<div th:text="${accommodation.accommodationDetail}"></div>

					</li>




				</ul>

				<h4>이미지</h4>
				<div id="files" th:each="file : ${files}">
					<div class="file_down">
					<div class="cont">
					<ul>
					<li>
						<img
							th:src="@{'/admin/accommodation/' + ${accommodation.accommodationId} + '/files/' + ${file.afId} + '/list'}"
							alt="File Image" style="width: 50%;"> <a
							th:href="@{'/admin/accommodation/' + ${accommodation.accommodationId} + '/files/' + ${file.afId}+'/download'}">

							<span class="icons"> <i class="fas fa-folder-open"></i></span> <span
							th:text="${file.originalName}"></span>
						</a>
						</li>
					</ul>
					</div>	
					</div>
				</div>
			</div>

			<p th:text="${accommodation.accommodationId}">id</p>
			<p class="btn_set">
				<a
					th:href="@{/admin/accommodation/update/{accommodationId}(accommodationId=${accommodation.accommodationId})}"
					class="btns btn_st5 btn_big">수정</a>
			</p>
		</section>

	</div>

</th:block>
<th:block layout:fragment="script">
	<
</th:block>
</html>