<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

	<div id="adm_wrap">

		
		
		
		

		<div id="container">

			<div class="menu_toggle">
				<span></span>
			</div>

			<div class="lcontent">
				<nav>
					<ul>
						<li class="has_sub"><a href="javascript: void(0);"><span>게시판
									관리</span></a>
							<ul>
								<li><a href="/post/list" class="on">공지사항 목록</a></li>
								<li><a href="/post/write">공지사항 글쓰기</a></li>
								<li><a href="javascript: alert('준비중입니다.')">자주하는 질문</a></li>
							</ul>
						</li>
							
						<li class="has_sub"><a href="javascript:void(0);"><span>회원관리</span></a>
							<ul>
								<li><a th:href="@{/member/list}" class="on">회원목록</a></li>
								<li><a th:href="@{/member/mypage}">회원수정</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<!-- lcontent -->

			

</body>
</html>