@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

[lang="ko"] {font-family: "Noto Sans KR", "Montserrat", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;}
[lang="en"] {font-family: "Montserrat", "Noto Sans KR", sans-serif; letter-spacing: 0;  font-weight: 400;}




a{text-decoration: none !important;}

.chkbox input:checked+i::before,
.file_list > div > button > span::before, .file_upload label i::after,
.paging .page_bt::after, .es, .wr_cm_txt span::before, .cm_list > div .cm_answer::before, .rating_star, .rating_star_per {content:''; background-image:url(../images/icons.png); background-repeat:no-repeat;}

.wrap {width: 100%; position: relative; overflow: hidden; }


/* nav메뉴 */

/*  =================== 로그인 =================== */
.login_wrap * { font-weight:400; letter-spacing:0;}
.login_wrap {overflow: hidden;background: #3a3e45;width:100%;height:100%;position:relative;}

.login_box {}
.login_box h2 {font-size: 48px;font-weight:500; position:relative;margin-top:0;}
.login_box .login_con {display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    }
.login_box .login_con .login_left {width: 50%;background: #ff346e;display: flex; justify-content: center; align-items: center;}
.login_box .login_con .login_left .login_tit h2 {color:#fff;}
.login_box .login_con .login_left .login_tit em{ font-size: 22px;color: #fff;} 
.login_box .login_con .login_left .login_tit:after {content: '';
    background: #ff779e;
    width: 1px;
    height: 200px;
    position: absolute;
    top: 24%;
    left: 6%;
}


.login_box .login_right {width: 50%;background: #fff;display: flex;
    justify-content: center;
    align-items: center;}
.login_box .login_right .tit_wrap{margin-bottom:4rem;} 
.login_box .login_right ul li {background:#fff;display: flex;align-items: center;justify-content: space-between;margin-bottom: 26px;}
.login_box .login_right ul li + li {margin-top:7px;}
.login_box .login_right ul li input {border:1px solid #d5d5d5;border-radius:10px;padding:0px 20px;width: 76%; height:50px;}
.login_box .login_btn_wrap{margin-bottom:26px;}
.login_box .login_btn {
	background: #ff346e;
    border: 0;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 28px;
    padding: 15px 0;
    font-size: 15px;
    }
    
.login_box .login_right .join_btn_wrap{display:flex;justify-content: space-between;
    align-items: center;}    
.login_box .login_right ul li input::-webkit-input-placeholder {color:#999; font-size:14px;}/* Webkit */
.login_box .login_right ul li input:-moz-placeholder {color:#999; font-size:14px;}/* moz */
.login_box .login_right ul li input:-ms-input-placeholder {color:#999; font-size:14px;}/* IE10+ */

.login_box .login_right .signup_btn{
	background: transparent;
    border: 0;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #decece;
    border-radius: 20px;
    width: 50%;
   }

.login_box .login_right .kakaoLogin{border-top:1px solid #191919;text-align: center;}
.login_box .login_right .kakaoLogin p{padding:20px 0;}




footer {background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); height:40px; line-height:40px; font-size:12px; color:#999; text-align:center; letter-spacing:0; position:absolute; bottom:0; left:0; width:100%;}

   
   