<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">

<body>
	<th:block layout:fragment="content">

		<div th:if="${errorMessage}">
       <script th:inline="javascript">
            alert([[${errorMessage}]]);
        </script>
    	</div>
    
   

		<div class="">
			<h4>숙소리스트 </h4>
			<ul>
				<li th:each="accommodation : ${accommodations}">
				
					<h2 th:text="${accommodation.accommodationName}"></h2>
					<p th:text="${accommodation.accommodationCate}"></p>
					<p th:text="${accommodation.accommodationGrade + '등급'}"></p>
					<p th:text="${accommodation.accommodationDetail}"></p>
					 <!-- 이미지 동적으로 설정
					<img th:src="@{${accommodation.amainimg}}" />
					 --> 

				</li>
			</ul>
		</div>
		
		
		
		<table class="tb tb_col">
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<th scope="col">작성자</th>
				<th scope="col">등록일</th>
				<th scope="col">조회</th>
			</tr>
		</thead>
		
		<tbody>
			<!-- 공지사항 데이터를 반복하면서 테이블에 출력 -->
			<tr th:if="${not #lists.isEmpty(recentnotices)}" th:each="notice : ${recentnotices}">

				<td th:text="${notice.noticeYn ? '공지글' : notice.noticeId}"></td>
				
				<td><a th:href="@{/notice/view(noticeId=${notice.noticeId})}" th:text="${notice.title}"></a></td>
				<td th:text="${notice.writer}"></td>
				<td th:text="${notice.createdDate}"></td>
				<td th:text="${notice.viewCnt}"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(recentnotices)}">
				<td colspan="5">게시물이 없습니다.</td>
			</tr>
		</tbody>
		
	</table>

	</th:block>
	
	
</body>

</html>