<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.various_functions.admin.mapper.AccommodationsMapper">

	<!-- 사용자가 입력한 값을 저장하는 메서드에 대한 쿼리 -->
	<insert id="saveAccommodation"
        parameterType="com.various_functions.admin.dto.AccommodationsDto"
        useGeneratedKeys="true" keyProperty="aid">
    INSERT INTO accommodations (
    acate, aname, aadress, aphone, atotalroom, agrade, adetail, aregdate
    ) VALUES (
    #{acate}, #{aname}, #{aadress}, #{aphone}, #{atotalroom}, #{agrade},
    #{adetail}, NOW()
    )
	</insert>

  	<!-- Accommodations와 RoomInfo 테이블을 조인하는 쿼리 -->
	<select id="selectAccommodationAndRoomInfo"
		resultType="com.various_functions.admin.dto.AccommodationAndRoomInfoDto">
		select a.*, r.*
		from accommodations a
		join room_info r on
		a.aid =r.aid
	</select>

	<!-- Accommodations와 RoomInfo를 조인하여 매핑할 resultMap -->
	<resultMap
		type="com.various_functions.admin.dto.AccommodationsDto"
		id="AccommodationsWithRoomInfoResultMap">
		<id property="aid" column="aid" />
		<result property="acate" column="acate" />
		<result property="aname" column="aname" />
		<result property="aadress" column="aadress" />
		<result property="aphone" column="aphone" />
		<result property="atotalroom" column="atotalroom" />
		<result property="agrade" column="agrade" />
		<result property="adetail" column="adetail" />
		<result property="aregdate" column="aregdate" />

		<association property="roomInfo" javaType="com.various_functions.admin.dto.RoomInfoDto">
			<id property="riid" column="riid" />
			<result property="riroomtype" column="riroomtype" />
			<result property="riroom" column="riroom" />
			<result property="riservice" column="riservice" />
			<result property="risize" column="risize" />
			<result property="riminper" column="riminper" />
			<result property="rimaxper" column="rimaxper" />
			<result property="ripeak" column="ripeak" />
			<result property="risemipeak" column="risemipeak" />
			<result property="rioff" column="rioff" />
		</association>

	</resultMap>

	 <!-- 사용자가 입력한 값을 조회하여 VO로 반환하는 메서드에 대한 쿼리 -->
    <select id="getAccommodationsWithRoomInfo" resultMap="AccommodationsWithRoomInfoResultMap">
        SELECT * FROM accommodations WHERE aid = #{aid}
    </select>
	
	<!-- 숙소 이름을 기준으로 숙소 정보를 가져오는 쿼리 -->
	<select id="getAccommodationByName"
		resultType="com.various_functions.admin.dto.AccommodationsDto">
		SELECT * FROM accommodations WHERE aname = #{aname}
	</select>
<!-- 숙소 정보 조회 -->
<select id="getAccommodationById" resultType="com.various_functions.admin.dto.AccommodationsDto">
    SELECT * FROM accommodations WHERE aid = #{aid}
</select>



	



</mapper>