<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.various_functions.mapper.CommentMapper">

	<!-- tb_comment 테이블 전체 칼럼 -->
	<sql id="commentColumns">
		id, psot_id, content, writer, delete_yn,created_date, modified_date
	</sql>

	<!-- 댓글저장 -->
	<insert id="save"
		parameterType="com.various_functions.domain.CommentRequest"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tb_comment(
		<include refid="commentColumns" />
		)values(
		#{id}, #{postId}, #{content}, #{writer}, 0, now(), null
		)
	</insert>

	<!-- 댓글상세정보 조회 -->
	<select id="findById" parameterType="long"
		resultType="com.various_functions.domain.CommentResponse">
		select
		<include refid="commentColumns" />
		from tb_comment
		where id= #{value}
	</select>

	<!-- 댓글수정 -->
	<update id="update"
		parameterType="com.various_functions.domain.CommentRequest">
		update tb_comment
		set modified_date = now()
		content = #{content}
		writer = #{writer}
		where id=#{id}
	</update>
	<!-- 댓글삭제 -->
	<delete id="" parameterType="long">
	update tb_comment
	set
	delete_yn = 1
	where id= #{id}
	</delete>
	<!-- 댓글리스트 조회 -->
	<select id="findAll" parameterType="long" resultType="com.various_functions.domain.CommentResponse">
	select 
	<include refid="commentColumns" />
	</select>
	
</mapper>