<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.various_functions.mapper.InquiryMapper">

<sql id="inquiryColumns">
 inquiry_id, 
 title,
 content,
 member_id,
 view_cnt,
 delete_yn,
 created_date,
 modified_date
</sql>

<insert id="inquirySave" parameterType="com.various_functions.dto.InquiryDto" useGeneratedKeys="true" keyProperty="inquiryId">
insert into inquiry(
<include refid="inquiryColumns"/>
) values(
#{inquiryId},
#{title},
#{content},
#{memberId},
0,
0,
now(),
null
)
</insert>
  
<resultMap id="inquiryResultMap" type="com.various_functions.dto.InquiryDto">
 <id property="inquiryId" column="inquiry_id" />
 <result property="title" column="title"/>
 <result property="content" column="content"/>
 <result property="memberId" column="member_id"/>
 <result property="authorName" column="author_name"/> 
</resultMap>
 
 
 <!-- 문의글 전체 리스트 출력하기 -->
 <select id="findAllInquiry" resultType="com.various_functions.vo.InquiryVo">
  select 
  <include refid="inquiryColumns"/>
  from inquiry
  where
  delete_yn = 0
  order by
  created_date desc
 </select>
 
 <!-- 문의글 전체 리스트와 작성자 회원 이름 출력하기 -->
 <select id="findAllInquiryWithMemberName" resultType="com.various_functions.vo.InquiryVo">
 select 
 <include refid="inquiryColumns"/>
 m.member_name as author_name
 from inquiry i
 inner join members m on i.member_id = m.id
 where i.delete_yn = 0
 order by i.created_date desc
 </select>
 
 
</mapper>