<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- anamespace 속성에 Mapper인터페이스 경로를 선언해주면 XML mapper가 연결 -->
<mapper
	namespace="com.various_functions.admin.mapper.NoticeMapper">

	<!-- tb_notice 전체칼럼 -->
	<sql id="noticeColumns">
		notice_id,
		title,
		content,
		writer,
		view_cnt,
		notice_yn,
		delete_yn,
		created_date,
		modified_date
	</sql>

	<!-- 게시글 저장 -->
	<insert id="noticeSave"
		parameterType="com.various_functions.admin.dto.NoticeDto"
		useGeneratedKeys="true" keyProperty="noticeId">
		insert into notice(
		<include refid="noticeColumns" />
		) values(
		#{noticeId},
		#{title},
		#{content},
		#{writer},
		0,
		#{noticeYn},
		0,
		now(),
		null
		)
	</insert>

	<!-- 게시글 상세정보 조회 -->
	<select id="findById" parameterType="Long"
		resultType="com.various_functions.admin.vo.NoticeVo">
		select
		<include refid="noticeColumns" />
		from notice
		where notice_id = #{noticeId}
	</select>

	<!-- 게시글 수정 -->
	<update id="update"
		parameterType="com.various_functions.admin.dto.NoticeDto">
		update notice
		set
		modified_date = now(),
		title = #{title},
		content = #{content}
		where notice_id = #{noticeId}

	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteById" parameterType="long">
		update notice
		set
		delete_yn
		= 1
		where notice_id = #{noticeId}
	</delete>

	
	
	<!-- 공지사항 리스트 조회 -->
    <select id="findAllNotices" parameterType="com.various_functions.common.dto.PagedSearchDto" resultType="com.various_functions.admin.vo.NoticeVo">
        SELECT *
        FROM notice
        where delete_yn = 0
        <if test="keyword != null and keyword.trim() != ''">
            <choose>
            <when test="searchType == 'title'">
            AND title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="searchType == 'content'">
            AND content LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
            AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword} ,'%'))
            </otherwise> 
            </choose>
            
        </if>
        <!-- ORDER BY created_date DESC -->
        ORDER BY notice_yn desc
        LIMIT #{offset}, #{recordSize}
    </select>

	

	<!-- 해당 아이디 게시글 조회 => 마이페이지 -->
	<select id="findNoticeUserById" parameterType="string"
		resultType="com.various_functions.admin.vo.NoticeVo">
		select
		<include refid="noticeColumns" />
		from notice
		where
		login_id = #{loginId}
	</select>

	<!-- 최근게시물 5개 -->
	<select id="findRecentNotices"
		resultType="com.various_functions.admin.vo.NoticeVo">
		select * from notice
		order by created_date desc
		limit 5
	</select>


	<!-- 게시글 수 조회수 -->
	<update id="noticeViewCount" parameterType="long">
		update notice
		set view_cnt = view_cnt +1
		where notice_id = #{noticeId}
	</update>

	<!--게시글 수 카운트 -->
	<!-- <select id="count"
		parameterType="com.various_functions.common.dto.PagedSearchDto"
		resultType="int">
		select count(*)
		from notice
		where delete_yn = 0
		<if test="keyword != null and keyword.trim() != ''">
			title like concat('%', #{keyword}, '%')
		</if>
	</select> -->
	
	<!-- 총 레코드 수를 반환하는 쿼리 -->
    <select id="count" parameterType="com.various_functions.common.dto.PagedSearchDto" resultType="int">
        SELECT COUNT(*)
        FROM notice
       where delete_yn = 0
        <if test="keyword != null and keyword.trim() != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

</mapper>