<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.various_functions.admin.mapper.NoticeFileMapper">

	<!-- notice_file 전체칼럼 -->
	<sql id="fileColumns">
		file_id,
		notice_id,
		original_name,
		save_name,
		size,
		delete_yn,
		created_date,
		deleted_date
	</sql>
	
	<!-- 파일정보 저장 -->
	<insert id="NoticeFilesaveAll" parameterType="list">
		insert into tb_file (
		<include refid="fileColumns"/>
		)values 
		<foreach item="file" collection="list" separator=",">
			(
			#{file.fileId},
			#{file.noticeId},
			#{file.originalName},
			#{file.saveName},
			#{file.size},
			0,
			now(),
			null
			)
		</foreach>
	</insert>

</mapper>