<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.various_functions.admin.mapper.RoomInfoMapper">

	<!-- 객실 정보 삽입 -->
    <insert id="insertRoomInfo" parameterType="com.various_functions.admin.dto.RoomInfoDto">
        INSERT INTO room_info (
        aid,
        riroomtype, 
        riroom, 
        riservice, 
        risize, 
        riminper, 
        rimaxper, 
        ripeak, 
        risemipeak, 
        rioff
        )
        VALUES ( 
        (LAST_INSERT_ID(),
        #{riroomtype}, 
        #{riroom}, 
        #{riservice}, 
        #{risize}, 
        #{riminper}, 
        #{rimaxper}, 
        #{ripeak}, 
        #{risemipeak}, 
        #{rioff}
        )
    </insert>
    



</mapper>