<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.various_functions.admin.mapper.RoomInfoMapper">


	<!-- 객실 정보 삽입 -->
    <insert id="saveRoomInfo" parameterType="com.various_functions.admin.dto.RoomInfoDto" 
    useGeneratedKeys="true" keyProperty="riid">
        INSERT INTO room_info (
        aid,
        riroom_type, 
        riroom, 
        riservice, 
        risize, 
        riminper, 
        rimaxper, 
        ripeak, 
        risemipeak, 
        rioff
       )
        VALUES ( 
        #{aId},
        #{riroomtype}, 
        #{riroom}, 
        #{riservice}, 
        #{risize}, 
        #{riminper}, 
        #{rimaxper}, 
        #{ripeak}, 
        #{risemipeak}, 
        #{rioff}
        )
    </insert>
    
    <!-- 객실 정보 조회 -->
	<select id="getRoomInfoById" resultType="com.various_functions.admin.dto.RoomInfoDto">
		select * from room_info where riid = #{riid}
	</select>    

    <!-- 객실 정보 수정 -->
	<update id="updateRoomInfo" parameterType="com.various_functions.admin.dto.RoomInfoDto">
        UPDATE room_info 
        SET 
        riroomtype = #{riroomtype}, riroom = #{riroom}, riservice = #{riservice}, risize = #{risize},
        riminper = #{riminper}, rimaxper = #{rimaxper}, ripeak = #{ripeak}, risemipeak = #{risemipeak}, 
        rioff = #{rioff},
        WHERE riid = #{riid}
    </update>

    <!-- 객실 정보 삭제 -->
    <delete id="deleteRoomInfo" parameterType="long">
        DELETE FROM room_info WHERE riid = #{riid}
    </delete>



</mapper>