<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.various_functions.admin.mapper.RoomInfoMapper">

	<!-- 객실 정보 삽입 -->
    <insert id="insertRoomInfo" parameterType="com.various_functions.admin.dto.RoomInfoDto">
       
        <!-- 객실 정보를 삽입하고 생성된 키를 가져옴 -->      
        INSERT INTO room_info (
        room_roomtype, 
        room_service, 
        room_size, 
        room_minper, 
        room_maxper, 
        room_peak, 
        room_semipeak, 
        room_off,
        accommodation_id
        ) 
        VALUES (
        #{roomRoomtype}, 
        #{roomService}, 
        #{roomSize}, 
        #{roomMinper}, 
        #{roomMaxper}, 
        #{roomPeak}, 
        #{roomSemipeak}, 
        #{roomOff},
        #{accommodationId}
        )
    </insert>
    
    
    <select id="findRoomsByAccommodationId" resultType="com.various_functions.admin.vo.RoomInfoVo">
    select * from room_info
    WHERE accommodation_id = #{accommodationId}
    </select>
    
    <!-- 단일 객실 조회 -->
    <select id="findRoomById" resultType="com.various_functions.admin.vo.RoomInfoVo">
		select * from room_info where room_id = #{roomId}
	</select>
	
	<!-- 객실요금 체크인,체크아웃 계산하기 위한 -->
   <select id="findRoomPeakPriceById" resultType="com.various_functions.admin.vo.RoomInfoVo">
   		SELECT room_peak FROM room_info WHERE room_id = #{roomId}
    </select>
    
    
    <update id="update" parameterType="com.various_functions.admin.dto.RoomInfoDto">
    	update room_info
    	set
        room_roomtype = #{roomRoomtype}, 
        room_service = #{roomService}, 
        room_size = #{roomSize}, 
        room_minper =#{roomMinper}, 
        room_maxper = #{roomMaxper}, 
        room_peak = #{roomPeak}, 
        room_semipeak = #{roomSemipeak}, 
        room_off = #{roomOff},
        accommodation_id = #{accommodationId}
        where accommodation_id=#{accommodationId}
    </update>
    


</mapper>