<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="admin-main-body">

	<div id="adm_wrap">

		<header>
			<div class="head">
				<h1>게시판 프로젝트</h1>
				<div class="top_menu" th:if="${session.loginMember != null}">
					<div class="login_user">
						<strong><i class="far fa-user-circle"></i>[[ ${session.loginMember.memberName}]]</strong>님 반갑습니다.
					</div>
					
					<div class="logout">
						
						<button type="button" id="logoutBtn">
							<span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i>
						</button>
						
					</div>
				</div>
			</div>
		</header>
		
		
		

		<div id="container">

			<div class="menu_toggle">
				<span></span>
			</div>

			<div class="lcontent">
				<nav>
					<ul>
						<li class="has_sub"><a href="javascript: void(0);"><span>게시판 관리</span></a>
							<ul>
								<li><a th:href="@{/admin/notice/list}" class="on">공지사항 목록</a></li>
								<li><a href="/admin/notice/write">공지사항 글쓰기</a></li>
								<li><a href="javascript: alert('준비중입니다.')">자주하는 질문</a></li>
							</ul>
						</li>
							
						<li class="has_sub"><a href="javascript:void(0);"><span>회원관리</span></a>
							<ul>
								<li><a th:href="@{/admin/member/list}" class="on">회원목록</a></li>
								<li><a th:href="@{/admin/member/mypage}">회원수정</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<!-- lcontent -->

			<div class="rcontent">
				<!-- 페이지별 콘텐츠 -->
				<th:block layout:fragment="content"></th:block>
			</div>

		</div>
		<!-- container end -->

	</div>
	<!-- adm_wrap -->
	
	
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script th:src="@{/js/function.js}"></script>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	
	<th:block layout:fragment="script">
		
	 <!--<script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var logoutBtn = document.getElementById("logoutBtn");
            if (logoutBtn) {
                logoutBtn.addEventListener("click", function() {
                    // 로그아웃 요청을 보냄 
                    fetch('/member/logout', {
                        method:'POST',
                        headers: {
                            'Content-Type' : 'application/json'
                        }
                    }).then(response =>{
                        //리다이렉션 응답을 받으면 현재 페이지를 새로고침하여 로그인 페이지로 이동
                        if(response.redirected){
                            window.location.href = response.url;
                        }
                    }).catch(error => {
                        console.log("로그아웃 요청 중 오류 발생 : ", error);
                    });
                });
            }
        });
    </script>-->
	</th:block>
	
</body>
</html>