<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="admin-main-head">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<th:block layout:fragment="title"></th:block>

<link rel="stylesheet" th:href="@{/css/default.css}"/>
<link rel="stylesheet" th:href="@{/css/admin/common.css}"/>
<link rel="stylesheet" th:href="@{/css/admin/content.css}"/>
<link rel="stylesheet" th:href="@{/css/button.css}"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

</body>
</html>